*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-width: 1280px;
}

header{
    background-color: F3F3F3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

ul{
    display: flex;
    
}
 
ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li + li{
    margin-left: 10px;
}

.hero{
    display: flex;
}

.listingSection{
    display: flex;
}